* {
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    padding: 0;
}

header {
    height: 82px;
    min-width: 980px;
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
}

.container {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fb-logo {
    width: 170px;
    height: 34px;
    background-position: 0 0;
    margin-top: 17px;
    background-image: url('../img/logo.png');
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}

.menu_login_container table tr {
    vertical-align: top;
}

.login-top-names {
    padding-bottom: 4px;
    padding: 0 0 0 14px;
}

.login-top-names label {
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
    padding-left: 1px;
    vertical-align: middle;
}

.login-input-padding {
    padding: 0 0 0 14px;
}

.login-input {
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    height: 23px;
    box-sizing: border-box;
    width: 142px;
    border: 1px solid #1d2a5b;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    direction: ltr;
}

.login-button-label {
    background-image: url('../img/sprites.png');
    font-size: 12px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -49px;
    background-color: #5b74a8;
    border: 1px solid #999;
    border-color: #29487d #29447e #1a356e;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 13px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.login-button-label:active {
    background: #4267b2;
    border-bottom-color: #29487d;
}

:hover {
    text-decoration: none;
}

.login-button {
    color: #fff;
    background: none;
    border: 0;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 13px;
    margin: 0;
    padding: 1px 0 2px;
    white-space: nowrap;
}

.forget-password {
    color: #9cb4d8;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    text-align: left;
}

.main-section {
    background: #edf0f5;
}

.left-content {
    margin-right: 15.999px !important;
    width: 565px;
}

.connect-with-friends {
    padding: 42px 0 24px;
    font-size: 28px;
    line-height: 36px;
    font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
    font-weight: bold !important;
    text-rendering: optimizelegibility;
    color: #333;
    margin: 0;
}

.icon-wrapper {
    display: inline-block;
    text-align: center;
    width: 55px;
    margin-right: 20px;
    vertical-align: middle;
}

.row {
    padding-bottom: 10px;
    display: block;
    margin-top: 20px;
}

.bold {
    font-size: 17px;
    line-height: 22px;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}

.normal {
    font-size: 15px;
    line-height: 20px;
    color: #666;
    margin-left: 10px;
    font-weight: normal;
}

.right-content {
    width: 399px;
}

.sign-up {
    font-size: 36px;
    font-weight: bold !important;
    font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
    text-rendering: optimizelegibility;
    margin-bottom: 5px;
    color: #333;
    line-height: 120%;
    margin: 0;
    padding: 0;
}

.always-free {
    font-family: 'Freight Sans', helvetica, arial, sans-serif !important;
    font-weight: normal !important;
    text-rendering: optimizelegibility;
    margin-bottom: 20px;
    color: #333;
    font-size: 19px;
    line-height: 126%;
    display: block;
}

.clear {
    clear: both;
}






























